* {
    font-family: "Manrope";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito Sans";
}
[data-bs-theme="light"] {
    --primary-gradient: linear-gradient(rgb(36, 121, 29, 0.582), rgba(134, 27, 255));
    --secondary-gradient: linear-gradient(rgba(125, 142, 214), rgb(255, 214, 32));

    --bs-body-bg: rgba(187, 197, 190);
    --bs-body-bg-rgb: 187, 197, 190;
    --bs-primary: rgb(192, 178, 151);
    --bs-primary-rgb: 192, 178, 151;
    --bs-secondary: rgb(178, 161, 187);
    --bs-secondary-rgb: 178, 161, 187;
    --bs-dark: rgb(140, 138, 172);
    --bs-dark-rgb: 140, 138, 172;
    --bs-light: rgb(226, 226, 226);
    --bs-light-rgb: 226, 226, 226;

    --bs-body-color: rgb(41, 49, 45);
    --bs-body-color-rgb: 22, 24, 23;
    --bs-secondary-color: rgb(41, 30, 9);
    --bs-secondary-color-rgb: 41, 30, 9;
    --bs-link-color: rgb(18, 24, 18);
    --bs-link-color-rgb: 18, 24, 18;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgb(74, 88, 75);
    --bs-link-hover-color-rgb: 74, 88, 75;
    --bs-highlight-color: rgb(63, 70, 63);
    --bs-highlight-color-rgb: 63, 70, 63;
    --bs-emphasis-color: rgb(19, 19, 26);
    --bs-emphasis-color-rgb: 19, 19, 26;
    --bs-heading-color: rgb(14, 27, 15);
    --bs-heading-color-rgb: 14, 27, 15;
}
[data-bs-theme="dark"] {
    --primary-gradient: linear-gradient(rgb(0, 47, 255), rgba(142, 229, 255, 0.582));
    --secondary-gradient: linear-gradient(rgba(168, 255, 175), rgb(217, 255, 0));

    --bs-body-bg: rgb(51, 62, 70);
    --bs-body-bg-rgb: 51, 62, 70;
    --bs-primary: rgb(11, 14, 78);
    --bs-primary-rgb: 11, 14, 78;
    --bs-secondary: rgb(86, 72, 90);
    --bs-secondary-rgb: 86, 72, 90;
    --bs-dark: rgb(2, 0, 31);
    --bs-dark-rgb: 2, 0, 31;
    --bs-light: rgb(48, 46, 95);
    --bs-light-rgb: 48, 46, 95;

    --bs-body-color: rgb(177, 187, 180);
    --bs-body-color-rgb: 177, 187, 180;
    --bs-secondary-color: rgb(182, 168, 141);
    --bs-secondary-color-rgb: 182, 168, 141;
    --bs-link-color: rgb(216, 212, 193);
    --bs-link-color-rgb: 216, 212, 193;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgb(241, 238, 221);
    --bs-link-hover-color-rgb: 241, 238, 221;
    --bs-highlight-color: rgb(17, 88, 21);
    --bs-highlight-color-rgb: 17, 88, 21;
    --bs-emphasis-color: rgb(207, 231, 209);
    --bs-emphasis-color-rgb: 207, 231, 209;
    --bs-heading-color: rgb(219, 209, 195);
    --bs-heading-color-rgb: 219, 209, 195;
}
.btn-primary {
    color: var(--bs-link-color) !important;
    --bs-btn-bg: var(--bs-light) !important;
    --bs-btn-border-color: var(--bs-light) !important;
    --bs-btn-hover-bg: var(--bs-dark) !important;
    --bs-btn-hover-border-color: var(--bs-dark) !important;
    --bs-btn-active-bg: var(--bs-light) !important;
    --bs-btn-active-border-color: var(--bs-link-color) !important;
    --bs-btn-disabled-bg: var(--bs-link-color) !important;
    --bs-btn-disabled-border-color: var(--bs-light) !important;
}
/* Navbar */
.navbar-brand {
    font-family: "Tomorrow";
}
/* Landing Section */
.profile-photo {
    width: 100%;
    max-width: 450px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.text-primary-gradient {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text-secondary-gradient {
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.border-gradient {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background: var(--primary-gradient);
}
.border-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 10px solid transparent;
    background: var(--primary-gradient);
    z-index: -1;
}

/* Tech Stack Section */
.tech-stack-links {
    transition: transform 0.2s;
    text-decoration: none;
}
.tech-stack-links:hover {
    transform: scale(1.05);
    text-decoration: underline;
}
.tech-stack-item {
    transition: transform 0.2s;
}
.tech-stack-item:hover {
    transform: scale(1.05);
}

/* Projects Section */
.card {
    transition: transform 0.2s;
    border-radius: 15px;
    height: 350px;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card:hover {
    transform: scale(1.05);
}

/* Contact Section */
.btn-social-icon {
    font-size: 24px;
}
.btn-social-icon:hover {
    color: #adb5bd;
}
.btn-social-contact {
    transition: transform 0.2s;
    text-decoration: none;
}
.btn-social-contact:hover {
    transform: scale(1.05);
    text-decoration: underline;
}
.btn-social-contact-link {
    text-decoration: none;
}
.btn-social-contact-link:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

/* Footer */
